
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->

<h2>Products</h2>

<div *ngFor="let product of products">  
  <a [title]="product.name + ' details '">
    {{ product.name }}
 </a>
    <!-- Muestra la descripcion y un título 'Descripcion' , si es que existe -->
    <!-- 
    *ngFores una "directiva estructural". Las directivas estructurales dan forma o remodelan la estructura del DOM, típicamente agregando, eliminando y manipulando los elementos a los que están unidos. Cualquier directiva con un asterisco *, es una directiva estructural. 
    -->

    <p *ngIf="product.description"> Descripcion: {{ product.description }} </p> 
    <button (click)="share()">Compartir    </button>

    <app-products-alerts 
    [product]="product"
    (notify)="onNotify()"
    >      
    </app-products-alerts>

    



</div>